<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Temperature Humidity Example</title>
</head>

<script type="text/javascript" th:src="@{/js/egovframework/jquery-3.6.1.min.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#sendBtn').click(function() { sendMessage(); });
	});
	
	var wsocket;
	function sendMessage() {
		//wsocket = new WebSocket("ws://localhost:9000/echo-ws");
		var serverUrl = $("#serverUrl").val();
		alert("Call Websocket URL : "+serverUrl);
		wsocket = new WebSocket(serverUrl);
		wsocket.onmessage = onMessage;
		wsocket.onclose = onClose;
		wsocket.onopen = function() {
			wsocket.send( $("#message").val() );
		};
	}
	function onMessage(evt) {
		var data = evt.data;
		alert("Receive Echo Data : " + data);
		//wsocket.close();
	}
	function onClose(evt) {
		alert("Websocket Closed !!!");
	}
</script>
</head>
<body>

	Websocket Server URL : <input type="text" id="serverUrl" value="ws://192.168.100.60:9002/ws/echo" style="width:400px"><br>
    Send Message : <input type="text" id="message">
    <input type="button" id="sendBtn" value="Send Message">
</body>
</html>